<main class="profile">
    <section id="aside-toggler">
        <div>Applicants</div>
        <div class="arrow"></div>
    </section>
    <aside>
        {{#each links}}
            <a href="{{this.link}}">{{this.text}}</a>
        {{/each}}
    </aside>
    <section>
        <h2>Applicants</h2>
        {{#if applicants}}
        {{#each applicants}}
        <div class="job-item">
            <div>
                <span>{{this.first_name}} {{this.last_name}}</span><br>
                <a href="/job?id={{this.job_id}}" class="applicants-link">{{this.title}}</a>
            </div>
            <div>
                <a href="/download-cv?job={{this.job_id}}&seeker={{this.id}}">CV</a>
            </div>
            <span>{{this.date}}</span>
        </div>
        {{/each}}
        {{else}}
        <span class="gray-error">No applicants found</span>
        {{/if}}
    </section>
</main>
<script src="javascript/aside.js"></script>