<main class="profile">
    <section id="aside-toggler">
        <div>Applicants</div>
        <div class="arrow"></div>
    </section>
    <aside>
        {{#each links}}
            <a href="{{this.link}}">{{this.text}}</a>
        {{/each}}
    </aside>
    <section>
        <h2>Applicants</h2>
        {{#if applicants}}
        {{#each applicants}}
        <div class="job-item">
            <div>
                <span>{{this.first_name}} {{this.last_name}}</span><br>
                <span class="company">{{this.company_name}}</span>
            </div>
            <a href="/download-cv">CV</a>
            <span>{{this.date}}</span>
        </div>
        {{/each}}
        {{else}}
        <span class="gray-error">No applicants found</span>
        {{/if}}
        {{!-- <div class="job-item">
            <div>
                <span>Rick Grimes</span><br>
                <span class="company">Warehouse Worker</span>
            </div>
            <a href="/download-cv">CV</a>
            <span>03/01/2022</span>
        </div> --}}
    </section>
</main>
<script src="javascript/aside.js"></script>