<main class="profile">
    <section id="aside-toggler">
        <div>Applied jobs</div>
        <div class="arrow"></div>
    </section>
    <aside>
        {{#each links}}
            <a href="{{this.link}}">{{this.text}}</a>
        {{/each}}
    </aside>
    <section>
        <h2>Applied jobs</h2>
        {{#if jobs}}
        {{#each jobs}}
        <div class="job-item">
            <div>
                <a href="/job?id={{this.id}}">{{this.title}}</a><br>
                <span class="company">{{this.company_name}}</span>
            </div>
            <span>{{this.city}}</span>
            <span>{{this.date}}</span>
        </div>
        {{/each}}
        {{else}}
        <span class="gray-error">No jobs found</span>
        {{/if}}
    </section>
</main>
<script src="javascript/aside.js"></script>