<main class="job">
    <section class="job-details">
        <div class="job-heading">
            <h2>{{job.title}}</h2>
            {{#if is_logged_in}}
            {{#if is_correct_employer}}
            <div class="job-controls">
                <a href="/edit?id={{job.id}}">Edit</a>
                <a href="/delete?id={{job.id}}">Delete</a>
            </div>
            {{/if}}
            {{/if}}
        </div>
        <span class="company">{{job.company_name}}</span>
        <span>{{job.date}}</span>
        <span>{{job.city}}</span>
    </section>
    <section class="description">
        <p>{{job.description}}</p>
    </section>
    {{#if is_logged_in}}
    {{#unless is_employer}}
    <form action="/job" method="post">
        <label for="upload-file">Upload your CV</label><br>
        <input type="file" name="upload-file"><br>
        <input type="submit" value="Apply">
    </form>
    {{/unless}}
    {{/if}}
</main>