<main class="job">
    <section class="job-details">
        <h2>{{job.[0].title}}</h2>
        <span class="company">{{job.[0].company_name}}</span>
        <span>{{job.[0].date}}</span>
        <span>{{job.[0].city}}</span>
    </section>
    <section>
        <p>{{job.[0].description}}</p>
    </section>
    {{#if is_logged_in}}
    {{#unless is_employer}}
    <form action="/job" method="post">
        <label for="upload-file">Upload your CV</label><br>
        <input type="file" name="upload-file"><br>
        <input type="submit" value="Apply">
    </form>
    {{/unless}}
    {{/if}}
</main>