<main class="list">
    <section>
        <form action="/jobs" method="get" class="search-form">
            <input type="text" name="search-query" class="search-query" placeholder="Job title">
            <input type="text" name="search-city" class="search-city" placeholder="City">
            <input type="submit" value="Search">
        </form>
    </section>
    <section class="jobs-list">
        {{#if jobs}}
        {{#each jobs}}
        <div class="job-item">
            <div>
                <a href="/job?id={{this.id}}">{{this.title}}</a><br>
                <span class="company">{{this.company_name}}</span>
            </div>
            <span>{{this.city}}</span>
            <span>{{this.date}}</span>
        </div>
        {{/each}}
        {{else}}
        <span class="gray-error">No jobs found</span>
        {{/if}}
    </section>
</main>