<main class="profile">
    <section id="aside-toggler">
        <div>Profile</div>
        <div class="arrow"></div>
    </section>
    <aside>
        {{#each links}}
            <a href="{{this.link}}">{{this.text}}</a>
        {{/each}}
    </aside>
    <section class="profile-content">
        <h2>Profile</h2>
        <p>{{name_or_company}}</p>
        <p>{{email}}</p>
        <h2>Change password</h2>
        <form action="{{action}}" method="post">
            <label for="password">New password</label>
            <input type="password" name="password">
            <label for="confirmpassword">Confirm new password</label>
            <input type="password" name="confirmpassword">
            <input type="submit" value="Submit">
        </form>
    </section>
</main>
<script src="javascript/aside.js"></script>